@import url('https://fonts.googleapis.com/css2?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

body {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}

#app {
  display: flex;
  font-family: 'Poppins', system-ui;
  margin: auto;
}

.wrapper {
  border-image: url("/src/assets/border1.jpg") round round 75 8 60 22;
  border-style: solid;
  border-width: 60px 5px 60px 5px;
  display: grid;
  justify-content: space-around;
  margin: 0 7px 0 7px;
  max-width: 910px;
  min-width: 760px;
  position: relative;
}

input[readonly] {
  background-color: #c8c8c8;
  cursor: default;
}

.input-small {
  text-align: center;
  width: 2.5em;
}

.input-select {
  border-radius: 5px;
  height: 1.75em;
  width: 8em;
}

.wrapper div label:hover button {
  background-color: #FFF;
  box-shadow: 2px 2px 2px #333;
  color: #000;
  cursor: pointer;
}

.span-all {
  grid-column: 1/-1;
  display: flex;
}
.span-two {
  grid-column: span 2;
}
.class-grid {
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-gap: 2px;
}
.left {
  margin: auto;
  margin-left: 0;
}
.right {
  margin: auto;
  margin-right: 0;
}
.center {
  text-align: center;
  margin: auto;
}
.grid-2 {
  gap: 4px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}
