<div class='quickstart-template'>
  {{#if ability}}
    <div class='quickstart-template__ability'>
      <div class='quickstart-template__ability__name'>{{ability.name}}</div>
      <div class='quickstart-template__ability__description'>{{ability.description}}</div>
    </div>
  {{/if}}
</div>