.add1e-template {
  .header{
    border-radius: 10px 10px 0 0;
  }
}

rolltemplate.add1e-template {
  outline: 2px solid #000;
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
  .header {
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #000;
    color: #fff;
    &__title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }
    &__subtitle {
      font-size: 1rem;
    }
  }

  .body {
    padding: 0.5rem;

    hr {
      margin: 0.5rem 0;
    }

    details {
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }

      &[open] {
        cursor: default;
        font-weight: normal;
        outline: 1px solid #666;
        padding: 2px;
        border-radius: 4px;

        summary {
          cursor: pointer;
          position: relative;
          margin-top: -8px;
          margin-bottom: -3px;
        }
      }
    }
  }

  .key-values {
    &__pair {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 0;
      gap: 0.5rem;
    }
    &__key {
      font-weight: 600;
    }
  }

  .roll {
    &__total {
      text-align: center;
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }
    &__components {
      display: flex;
      gap: 0.5rem;

      .component {
        &__value {
          font-weight: 600;
        }
      }
    }
  }
}
